.App {
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.error{
  color: red;
}


.form{
  border: 2px solid black;
  border-radius: 10px;
  background-color: beige;
  width: 300px;
  padding: 10px;
  /* position: relative; */
  /* top: 100px; */
  
 
}